---
import SearchBar from "../components/SearchBar.astro";
import Layout from "../layouts/Layout.astro";
import { marked } from "marked";
import apps from "../../public/data/apps.json";

// Load README.md content
const readmeFiles = import.meta.glob("../data/readme.md", {
  query: "?raw",
  import: "default",
});
const readmePath = Object.keys(readmeFiles)[0];
const readmeContent = await readmeFiles[readmePath]();
const readmeHTML = marked(readmeContent as string);

// Load popular apps
const popularAppsSelection = [
  "Slack",
  "Notion",
  "Github",
  "1Password",
  "Dropbox",
];
const popularApps = popularAppsSelection
  .map((appName) => {
    const app = apps.find((app) => app.Name === appName);
    return app;
  })
  .filter(Boolean);
---

<Layout
  title='The Auto Provisioning Atlas - Your Guide to SaaS & IdP Integration'
  description='The Auto-Provisioning Atlas is a comprehensive database of authentication and provisioning methods for SaaS and cloud apps. Quickly check if your apps support SCIM, SSO, JIT provisioning, and deprovisioning. Simplify IT onboarding and offboarding with accurate, up-to-date insights.'
>
  <div class='page-container'>
    <div class='header'>
      <img
        src='/the_auto_provisioning_atlas_icon.png'
        alt='Auto Provisioning Atlas logo'
        width='100'
      />
      <!-- Icon credits  -->
      <h1>The Auto Provisioning Atlas</h1>
    </div>
    <SearchBar />
    <div class='description'>
      <p>
        The Auto-Provisioning Atlas aims to be a comprehensive database of <br
        />
        authentication and provisioning methods for SaaS apps. <br /> &nbsp;<br
        /> Quickly check if your apps support SCIM, SSO, JIT provisioning, and deprovisioning.
      </p>
    </div>
  </div>
  <div class='popular-apps'>
    <h3>Browse popular apps</h3>

    <div class='app-list'>
      {
        popularApps.map((app) => (
          <div>
            <a
              href={`/apps/${app!.Name.toLowerCase().replace(/\s+/g, "-")}`}
              class='app-item'
            >
              <img
                src={`https://logo.clearbit.com/${app!.Domain}`}
                alt={`${app!.Name} logo`}
              />
              <span>{app!.Name}</span>
            </a>
          </div>
        ))
      }
    </div>
    <p>
      <a
        href='https://github.com/zygontech/auto-provisioning-atlas/issues/new'
        target='_blank'>Missing an app?</a
      >
    </p>
  </div>
  <h1>About the project</h1>
  <div class='paper-container'>
    <p>
      <a
        href='https://github.com/zygontech/auto-provisioning-atlas'
        target='_blank'>github.com/zygontech/auto-provisioning-atlas</a
      >
    </p>
    <section class='readme'>
      <div class='readme-content' set:html={readmeHTML} />
    </section>
  </div>
  <style>
    h1 {
      margin-top: 2rem;
      color: #18191d;
      text-align: center;
    }
    h3 {
      margin-top: 0rem;
      color: #484d59;
      font-weight: 500;
    }
    .page-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;
      padding: 0 2rem;
    }
    .header {
      display: flex;
      padding-top: 2rem;
      max-width: 800px;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    .description p {
      margin-top: 1rem;
      text-align: center;
      color: #484d59;
    }

    .readme {
      max-width: 800px;
      margin: 2rem auto;
      text-align: left;
    }
    .popular-apps {
      text-align: center;
      margin: 2rem 0 5rem 0;
    }

    .app-list {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      justify-content: center;
      margin-top: 1rem;
    }

    .app-item {
      display: flex;
      align-items: center;
      padding: 0.75rem 1rem;
      background: #fafafd;
      border-radius: 8px;
      text-decoration: none;
      color: black;
      font-weight: bold;
      transition: background 0.2s ease-in-out;
    }

    .app-item:hover {
      background: #e0e0e0;
    }

    .app-item img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin-right: 10px;
    }
  </style>
</Layout>
