---
import SearchBar from "../components/SearchBar.astro";
import Layout from "../layouts/Layout.astro";
import { marked } from "marked";

// Load README.md content
const readmeFiles = import.meta.glob("../data/readme.md", {
  query: "?raw",
  import: "default",
});
const readmePath = Object.keys(readmeFiles)[0];
const readmeContent = await readmeFiles[readmePath]();
const readmeHTML = marked(readmeContent as string);
---

<Layout
  title='The Auto Provisioning Atlas - Your Guide to SaaS & IdP Integration'
  description='The Auto-Provisioning Atlas is a comprehensive database of authentication and provisioning methods for SaaS and cloud apps. Quickly check if your apps support SCIM, SSO, JIT provisioning, and deprovisioning. Simplify IT onboarding and offboarding with accurate, up-to-date insights.'
>
  <div class='page-container'>
    <div class='header'>
      <img
        src='/the_auto_provisioning_atlas_icon.png'
        alt='Auto Provisioning Atlas logo'
        width='100'
      />
      <!-- Icon credits  -->
      <h1>The Auto Provisioning Atlas</h1>
    </div>
    <SearchBar />
    <div class='description'>
      <p>
        The Auto-Provisioning Atlas aims to be a comprehensive database of <br
        />
        authentication and provisioning methods for SaaS apps. <br /> &nbsp;<br
        /> Quickly check if your apps support SCIM, SSO, JIT provisioning, and deprovisioning.
      </p>
    </div>
  </div>
  <h1>About the project</h1>
  <section class='readme'>
    <div class='readme-content' set:html={readmeHTML} />
  </section>

  <style>
    h1 {
      margin-top: 2rem;
      color: #18191d;
      text-align: center;
    }
    h3 {
      margin-top: 0rem;
      color: #484d59;
      font-weight: 500;
    }
    .page-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;
      padding: 0 2rem;
    }
    .header {
      display: flex;
      padding-top: 2rem;
      max-width: 800px;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    .description p {
      margin-top: 1rem;
      text-align: center;
      color: #484d59;
    }

    .readme {
      max-width: 800px;
      margin: 2rem auto;
    }
  </style>
</Layout>
